/* 间距大小

  [ml(1/2/3/...30)] {
    margin-left: (1/2/3...30)px
  }
  [mr(1/2/3/...30)] {
    margin-right: (1/2/3...30)px
  }
  [mb(1/2/3/...30)] {
    margin-bottom: (1/2/3...30)px
  }
  [mt(1/2/3/...30)] {
    margin-top: (1/2/3...30)px
  }
  [pl(1/2/3/...30)] {
    padding-left: (1/2/3...30)px
  }
  [pr(1/2/3/...30)] {
    padding-right: (1/2/3...30)px
  }
  [pb(1/2/3/...30)] {
    padding-bottom: (1/2/3...30)px
  }
  [pt(1/2/3/...30)] {
    padding-top: (1/2/3...30)px
  }
*/

$direction: (l left, r right, t top, b bottom);

@for $i from 1 through 30 {
  @each $type in m, p, v, h, a {
    @if $type == m {
      @each $d in $direction {
        [m#{nth($d, 1)}#{$i}] {
          margin-#{nth($d, 2)}: #{$i}px;
        }
      }
    }
    @else if $type == p{
      @each $d in $direction {
        [p#{nth($d, 1)}#{$i}] {
          padding-#{nth($d, 2)}: #{$i}px
        }
      }
    }
    @else if $type == h{
      [mh#{$i}] {
        margin-left: #{$i}px;
        margin-right: #{$i}px;
      }
    }
    @else if $type == v{
      [pv#{$i}] {
        padding-top: #{$i}px;
        padding-bottom: #{$i}px;
      }
    }
    @else if $type == a{
      [pa#{$i}] {
        padding: #{$i}px;
      }
    }
  }
}