[data-theme="cool"] .box {
  background: blue;
}

[data-theme="cool"] .text {
  color: blue;
}

[data-theme="cool"] .home__item1 {
  color: blue;
}

[data-theme="cool"] .home__item3 {
  color: blue;
}