[data-theme="warm"] .box {
  background: yellow;
}

[data-theme="warm"] .text {
  color: yellow;
}

[data-theme="warm"] .home__item1 {
  color: yellow;
}

[data-theme="warm"] .home__item3 {
  color: yellow;
}